<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="../index.js"></script>
</head>
<body>
    <section id="landing">
        <nav>
            <img class="logo" src="../static/assets/lotusLogo.png" alt="">
            <!-- <ul class="navlinks">
                <li><a href="#" class="navlink">Why Lotus</a></li>
                <li><a href="#" class="navlink">How it works</a></li>
                <li><a href="#" class="navlink">Resources</a></li>
            </ul> -->
        </nav>
        <header class="header">
            <div class="header-content">
                <h1 class="title">meet lotus,<br>your safe space.</h1>
                <h2 class="sub-title">we make growing up less awkward.</h2>
                <button class="btn" onclick="document.getElementById('conversation').scrollIntoView()">Start a conversation</button>
                <div class="lotusComb">
                    <img class="lotusleft" src="../static/assets/Lotus left.png" alt="">
                    <img class="lotusright" src="../static/assets/Lotus right.png" alt="">
                </div>
            </div>
        </header>
        <div class="about">
            <img class="bloom-img" src="../static/assets/Bloom 1.png" alt="">
            <h1 class="title">what is lotus?</h1>
            <div class="about-flex">
                <h2 class="sub-title">some questions are awkward to ask, so you're kinda left to
                    figure<br>things out on your own...<br><br>you shouldn't have to.<br>that's why we created lotus.</h2>
                <ul>
                    <li class="about-list">there are no "bad" questions, no judgement.</li>
                    <li class="about-list">your responses are completely anonymous, and will not be traced back to you.</li>
                    <li class="about-list">the resources we provide are backed by proven science.</li>
                </ul>
            </div>
            
        </div>
        <div class="how">
            <h1 class="title">how does it work?</h1>
            <div class="how-container">
                <li class="how-list">ask us anything, or pick a topic from our suggested list.</li>
                <li class="how-list">we simplify relevant scientific journals and trusted medical sources based on your needs.</li>
                <li class="how-list">feel free to follow up with questions, and our model will adjust based on previous context!</li>
                <li class="how-list">after the session, we'll send an email with the transcript so you can refer to it after.</li>
            </div>
            
            
        </div>
        <div class="explore">
            <h1 class="title">start exploring</h1>
            <img class="explore-img" src="../static/assets/exploreimg.png" alt="">
            
        </div>
        
    </section>
    <section id="conversation">
        <div class="convo-section">
            <h1 class="convo">ok! - let's dive into your questions.<br>what's on your mind?</h1>
        
            <form name="text" id="" action="/index" placeholder="type your question here.." method = "POST">
                <input class="userInput" type = "text" name = "enter" />
                <p><input class="btn" type = "submit" value = "submit" /></p>
            </form>
            <h3> {{answer_data}} </h3>
        </div>
    </section>
</body>
</html>