@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    background-color: #ECE5D9;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
nav {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0;
    padding: 0;
}
ul {
    margin-left: 80px;
}
/* .navlinks {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
} */
/* .navlink {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 8px;
} */
.logo {
    width: 40px;
    margin-left: 30px;
    margin-top: 20px;
}
.bloom-img {
    position: relative;
    float: right;
}
.lotusleft {
    position: relative;
    right: 85%;
}
.lotusright {
    position: relative;
    left: 45%;
}
/* .line-img-wrapper {
    position: relative;
    height: 300px;
    width: 300px;
}
.line-img-wrapper .line-img {
    position: absolute;
    left: 0;
    bottom: 0;
} */
.numberlist-img {
    position: absolute;
    margin-top: 20px;
}
#landing {
    min-height: 100vh;
}
.header {
    position: relative;
    top: 30%;
    left: 35%;
    width: 100%;
    max-width: 1000px;
    margin-top: 70px;
}
.pre-title {
    color: #4A1610;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 10px;
}
.title {
    font-size: 48px;
    color: #4A1610;
    margin-bottom: 15px;
    margin-top: 0;
}
.sub-title {
    font-size: 30px;
    margin-top: 0;
    color: #4A1610;
    font-weight: 200;
}
.btn {
    font-size: 20px;
    border-radius: 20px;
    color: #4A1610;
    border-color: #4A1610;
    border-style: solid;
    padding: 10px 20px;
    margin-top: 20px;
    left: 70%;
    cursor: pointer;
}
.about {
    position: relative;
    margin: 300px 20px;
    left: 5%;
}
.about-flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.about-list {
    color: #4A1610;
    font-size: 30px;
    margin-top: 50px;
    list-style-type: none;
}
.how {
    position: relative;
    margin: 300px 20px;
    left: 5%;
}
.how-list {
    color: #4A1610;
    font-size: 30px;
    margin-top: 50px;
}
.explore {
    position: relative;
    margin: 300px 20px;
    left: 5%;
}
#conversation {
    height: 1000px;
}
.convo-section {
    width: 100%;
    max-width: 1000px;
    display: flex;
}

